*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.navbar-item{
	margin-left: 8px;
	margin-right: 8px;
	border: none;
	/*border-bottom: outset;*/
	border-width: 0.1px;
}
.navbar-item:hover{
	line-height: 22px;
	border-bottom: outset;
	border-width: 2px;
}
.navbar-nav .navbar-item .nav-link{
	color: #F8002F;
}
.brand{
	color: #ffd700;
	/*font-family: 'Ballet', cursive;*/
	font-family: 'Lora', serif;
}
body{
	/*min-height: 100vh;*/
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*background-color: #f1f1f1;*/
}
.about-section{
	background: url(h1.jpg) no-repeat left;
	background-size: 65% 75%;
	background-color: rgb(240,154,14,0.9);
	/*background-image: linear-gradient(to left,gold,maroon);*/
	overflow: hidden;
	padding: 100px 0;
}
.inner-container{
	width: 55%;
	height: 18%;
	float: right;
	background-color: #fdfdfd;
	padding: 80px;
	opacity: 0.8;
}
.inner-container h1{
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 900;
}
.text{
	/*color: #045454;*/
	color: maroon;
	line-height: 30px;
	text-align: justify;
	margin-bottom: 40px;
	/*font-size: 13px;*/
}
/*.skills{
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	font-size: 13px;

}*/

/*////////////Footer/////////////////*/
.img{
	margin-top: -20px;
	width: 4em;
	height: 3em;
}
.link{
	/*background: green;*/
	padding: 9px 5px;
	overflow: hidden;
}
.link h6{
	display: inline-flex;
	margin-left: 10px;
	/*margin-right: 50px;*/
}
.link a{
	background: #bdb8d7;
	border-radius: 30px;
	padding: 5px 10px;
	margin-right: 5px;
	margin-left: 5px;
}
.mar{
	/*margin-top: 5px;*/
}
.indigo{
	background-image: linear-gradient(120deg,gold,maroon);
	color: #fff;
}
.fa{
	padding: 5px 5px;
}

/*/////////////Responsive////////////*/
@media screen and (max-width: 1200px){
	.inner-container{
		padding: 80px;
	}
}
@media screen and (max-width: 1000px){
	.about-section{
		background-size: 100%;
		padding: 100px 40px;
	}
	.inner-container{
		width: 100%;
	}
}
@media screen and (max-width: 600px){
	.about-section{
		padding: 0;
		background-image: none;
	}
	.inner-container{
		padding: 60px;
		opacity: 0.6;
	}
	.navbar-item{
		border-bottom: outset;
		border-width: 0.1px;
	}
}