*{
	margin: 0px;
	padding: 0px;
}
body{
	/*background-color: rgb(240,90,10,80);*/
	background-color: rgb(240,154,14,0.9);
}
.navbar-item{
	margin-left: 8px;
	margin-right: 8px;
	border: none;
	/*border-bottom: outset;*/
	border-width: 0.1px;
}
.navbar-item:hover{
	line-height: 22px;
	border-bottom: outset;
	border-width: 2px;
}
.navbar-nav .navbar-item .nav-link{
	color: #F8002F;
}
.brand{
	color: #ffd700;
	/*font-family: 'Ballet', cursive;*/
	font-family: 'Lora', serif;
}
.contact{
	/*color: #fff;*/
	background-color: #fdfdfd;
	/*background-image: linear-gradient(145deg,rgba(240,90,14,10) 30%,rgba(180,90,0,20) 10%);*/
	margin-top: 25px;
	margin-bottom: 30px;
	padding-top: 20px;
	opacity: 0.8;
}
.hr{
	background: #bdb8d7;
}
.input-text{
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	/*border-color: #5543ca;*/
	border-color: maroon;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}
.input-text:focus{
	outline: none;
}
.col-sm-3 .text a{
	text-decoration: none;
}
.text-center .pos a .map{
	z-index: 2;
	border-radius: 5px;
	outline: none;
	border: none;
	height: 120px;
	width: 60%;
}
.pos{
	padding-top: 5px;
	opacity: 5;
}
.text-center .pos a .map:hover{
	box-shadow: 0 0 10px 0px rgba(0,0,0,0.1);
}

/*////////////Footer/////////////////*/
.img{
	margin-top: -20px;
	width: 4em;
	height: 3em;
}
.link{
	/*background: green;*/
	padding: 9px 5px;
	overflow: hidden;
}
.link h6{
	display: inline-flex;
	margin-left: 10px;
	/*margin-right: 50px;*/
}
.link a{
	background: #bdb8d7;
	border-radius: 30px;
	padding: 5px 10px;
	margin-right: 5px;
	margin-left: 5px;
}
.mar{
	/*margin-top: 5px;*/
}
.indigo{
	background-image: linear-gradient(120deg,gold,maroon);
	color: #fff;
}
.fa{
	padding: 5px 5px;
}

/*/////////////Responsive////////////*/
@media screen and (max-width: 1200px){}
@media screen and (max-width: 1000px){}
@media screen and (max-width: 600px){
	.contact{
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar-item{
		border-bottom: outset;
		border-width: 0.1px;
	}
}